.section-one {
  background-image: url('../../Assets/images/midassection1.png'); /* Replace with actual image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  height: auto; /* Adjust if needed */
  min-height: 450px; /* Ensure enough height for content */
  color: #fff;
}

.section-one-content {
  max-width: 800px;
  width: 100%;
  text-align: left;
  padding-left: 200px;
}

.section-one-heading {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 48rem;
  font-weight: 600;
  letter-spacing: .25rem;
  margin-bottom: 30rem;
  line-height: 1.2;
  margin-top: 0;
}

.section-one-text {
  font-size: 1.25rem; /* Adjust for readability */
  line-height: 1.6;
}

